body {
  font-size: 14px;
  background: #f9fafb;
}

.page .header,
.page .footer {
  background: #ffffff;
  padding: 16px;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  color: #374151;
}

.page .header {
  box-shadow: inset 0px -1px 0px #e5e7eb;
}

.page .footer {
  box-shadow: 0px 10px 15px rgba(31, 41, 55, 0.1),
    0px 0px 6px rgba(31, 41, 55, 0.05);
}
.page .main {
  margin: 16px;
}

form .card {
  border: none;
  margin-bottom: 20px;
}

form .card-title {
  font-size: 20px;
  display: flex;
  align-items: center;
  color: #374151;
  margin: 18px 18px 0;
}
form .card-subtitle {
  color: #374151;
  font-size: 13px;
  margin: 18px 18px 0;
}

.form-label {
  color: #6b7280;
}

.form-control {
  border: 1px solid #e5e7eb;
  box-shadow: 0px 1px 2px rgba(31, 41, 55, 0.08);
  border-radius: 4px;
}

.btn-black {
  background: #000000;
  border-color: #000000;
}

.btn-black:hover,
.btn-black:active,
.btn-black:focus,
.btn-black:visited {
  background: #000000;
  border-color: #000000;
}

.remove-link,
.remove-link:focus,
.remove-link:visited {
  font-size: 22px;
  color: #959595;
  margin-top: 25px;
  display: block;
}

.remove-link:hover {
  font-size: 22px;
  color: #3e3d3d;
  margin-top: 25px;
  display: block;
}
